<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: Mon, March 8</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:00am MST</td>        <!-- time    -->
        <td>Introductions!</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:35am MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/organization-geospatial/01-intro-raster-data/index.html">1. Introduction to Raster Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:00am MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/organization-geospatial/02-intro-vector-data/index.html">2. Introduction to Vector Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:15am MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/organization-geospatial/03-crs/index.html">3. Coordinate Reference Systems</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30am MST</td>        <!-- time    -->
        <td>BREAK</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:45am MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-intro-geospatial/01-rstudio-intro/index.html">1. Introduction to R and RStudio</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:05am MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-intro-geospatial/02-project-intro/index.html">2. Project Management With RStudio</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:20am MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-intro-geospatial/03-data-structures-part1/index.html">3. Data Structures</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:30pm MST</td>        <!-- time    -->
        <td>LUNCH</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:30pm MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-intro-geospatial/04-data-structures-part2/index.html">4. Exploring Data Frames</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:00pm MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-intro-geospatial/05-data-subsetting/index.html">5. Subsetting Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:30pm MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-intro-geospatial/06-dplyr/index.html">6. Data frame Manipulation with dplyr</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:05pm MST</td>        <!-- time    -->
        <td>BREAK</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:20pm MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-intro-geospatial/07-plot-ggplot2/index.html">7. Introduction to Visualization</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:50pm MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-intro-geospatial/08-writing-data/index.html">8. Writing Data</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>4:00pm MST</td>        <!-- time    -->
        <td>Done!</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: Tue, March 9</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00am MST</td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/01-raster-structure/index.html">1. Introduction to Raster Data</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:50am MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/02-raster-plot/index.html">2. Plot Raster Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:45am MST</td>        <!-- time    -->
        <td>BREAK</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00am MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/03-raster-reproject-in-r/index.html">3. Reproject Raster Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:45am MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/04-raster-calculations-in-r/index.html">4. Raster Calculations</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00pm MST</td>        <!-- time    -->
        <td>LUNCH</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00pm MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/06-vector-open-shapefile-in-r/index.html">6. Open and Plot Shapefiles</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:30pm MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/07-vector-shapefile-attributes-in-r/index.html">7. Explore and Plot by Vector Layer Attributes</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:20pm MST</td>        <!-- time    -->
        <td>BREAK</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:35pm MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/08-vector-plot-shapefiles-custom-legend/index.html">8. Plot Multiple Shapefiles</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:50pm MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/09-vector-when-data-dont-line-up-crs/index.html">9. Handling Spatial Projection & CRS</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>--:--pm MST</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/10-vector-csv-to-shapefile-in-r/index.html">10. Convert from .csv to a Shapefile</a></td>
      </tr>
      <tr>
        <td>3:55pm MST</td>        <!-- time    -->
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>4:00pm MST</td>        <!-- time    -->
        <td>Done!</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
